<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaHang.Properties.Settings.ConnectionString"
            connectionString="Data Source=TIENANH;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaHang.Properties.Settings.QL_NHA_HANGConnectionString"
            connectionString="Data Source=TIENANH;Initial Catalog=QL_NHA_HANG;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaHang.Properties.Settings.QLNHConnectionString"
            connectionString="Data Source=TIENANH;Initial Catalog=QLNH;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>